In [1]:
import json
import pandas as pd
import datetime

In [2]:
from pyxirr import xirr

pd.options.display.float_format = '{:,.2f}'.format

In [3]:
#Concatenation des dataframes
dfConcat = pd.read_csv('Data/Solde_Patrimoine.csv')

dfConcat['Date_last_sync'] = pd.to_datetime(dfConcat['Date_last_sync']).dt.tz_localize(None)
dfConcat['Date_extract'] = pd.to_datetime(dfConcat['Date_extract']).dt.tz_localize(None)

In [4]:
dfConcat.dtypes

Date_last_sync    datetime64[ns]
Date_extract      datetime64[ns]
Agregat1_ID               object
Organisme                 object
Produit                   object
Solde                    float64
Week_number                int64
dtype: object

In [5]:
dfConcat

,Date_last_sync,Date_extract,Agregat1_ID,Organisme,Produit,Solde,Week_number
0,2023-04-21 10:34:43.677,2023-04-21 14:01:55.368000,1.1,Allianz,Assurance Vie,"33,391.48",16
1,2023-04-21 11:57:24.409,2023-04-21 14:01:55.368000,2.4,Amundi,PEE / PERCO,"20,933.06",16
2,2023-04-21 00:32:38.274,2023-04-21 14:01:55.368000,7.1.3,Linxea,Assurance Vie Avenir,"19,101.57",16
3,2023-04-21 07:36:05.571,2023-04-21 14:01:55.368000,7.1.2,Linxea,Assurance Vie Spirit 2,"2,158.68",16
4,2023-04-18 03:45:03.035,2023-04-21 14:01:55.368000,5.4,Groupama,PEE / PERCO,"3,780.70",16
...,...,...,...,...,...,...,...
517,2023-07-28 22:15:27.026,2023-07-29 01:00:09.958715,5.4,Groupama,PEE / PERCO,"8,225.44",30
518,2023-07-28 22:43:28.471,2023-07-29 01:00:09.958735,6.1,HSBC,Assurance Vie,"19,768.02",30
519,2023-07-28 22:14:13.821,2023-07-29 01:00:09.958717,3.2,BourseDirect,PEA,"164,156.84",30
520,2023-07-28 21:23:36.914,2023-07-29 01:00:09.958710,4.3,Boursorama,PEA-PMA,"4,244.95",30
521,2023-07-28 20:19:35.152,2023-07-29 01:00:09.958706,8.1,Yomoni,Assurance Vie,"9,952.31",30

In [4]:
dfConcat['Date_extract'].dt.isocalendar().week

0     16
1     16
2     16
3     16
4     16
      ..
76    21
77    21
78    21
79    21
80    21
Name: week, Length: 81, dtype: UInt32

In [6]:
dfComptes = pd.read_excel('Param/Description_Comptes.xlsx')

In [7]:
# Ouvrir le fichier UC en mode lecture
with open("Data/BalanceHeritageUC.json", "r") as f:
    # Charger le contenu du fichier en tant qu'objet JSON
    json_data_UC = json.load(f)

BalancePatrimoine = {'ID':[],"Date_last_sync" :[], "Date_extract" : [],"Nom":[], "Type":[] ,"Solde" : []}

# Afficher l'objet JSON UC sous forme de dictionnaire Python
for i in range(len(json_data_UC["result"])):
    
    BalancePatrimoine["ID"].append(json_data_UC["result"][i]["id"])

    BalancePatrimoine["Date_last_sync"].append(json_data_UC["result"][i]["last_sync"])

    BalancePatrimoine["Date_extract"].append(datetime.datetime.now())

    BalancePatrimoine["Nom"].append(json_data_UC["result"][i]["name"])

    BalancePatrimoine["Type"].append("UC")

    BalancePatrimoine["Solde"].append(json_data_UC["result"][i]["balance"])
    

# Convertir le dictionnaire en DataFrame
df = pd.DataFrame(BalancePatrimoine)

In [8]:
df

,ID,Date_last_sync,Date_extract,Nom,Type,Solde
0,0c11b7e2-f713-4798-960b-f4eb796ee16f,None,2023-07-29 11:12:01.208874,SCPI,UC,"19,387.50"
1,23bbaf6b-61cb-4082-bcf4-1db157a4896a,2023-07-28T20:19:35.152Z,2023-07-29 11:12:01.208880,SURAVENIR ASSURANCE VIE,UC,"9,952.31"
2,51101745-2b50-44c4-8817-1c49f975d361,2023-07-28T22:42:15.691Z,2023-07-29 11:12:01.208882,Allianz Multi Epargne Vie,UC,"34,173.00"
3,114c4d1e-b60e-4691-90cd-9300afe6a0a0,2023-07-28T21:23:36.914Z,2023-07-29 11:12:01.208883,PEA_PME PROST,UC,"4,244.95"
4,bd7da552-b087-4cbc-a8fc-51eaf686f378,2023-07-28T21:30:21.514Z,2023-07-29 11:12:01.208884,PER COL LIBRE,UC,"3,054.68"
5,7bad6b7d-8ab1-4641-8a09-edbe42939b39,2023-07-28T22:15:27.026Z,2023-07-29 11:12:01.208886,Plan d'épargne groupe,UC,"4,015.90"
6,93ab9962-cef0-418e-9fa5-b8efaf953463,2023-07-28T22:14:13.821Z,2023-07-29 11:12:01.208888,MR PROST BENOIT (Compte PEA),UC,"164,156.84"
7,fa8439f7-8d44-4523-bb4f-c54c17141c40,2023-07-28T21:30:21.514Z,2023-07-29 11:12:01.208889,PEE UES Allianz,UC,"9,559.59"
8,3ad2dfd9-dae4-4c18-b448-0255b4e0d541,2023-07-28T22:43:28.471Z,2023-07-29 11:12:01.208890,Pret Immobilier,UC,0.00
9,61ac2ec9-936b-4a90-87e7-45ef0d745c00,2023-07-28T22:43:28.471Z,2023-07-29 11:12:01.208892,Pret Immobilier,UC,0.00
10,7cd23b70-b7b4-4020-817d-ce72bbb1c80a,2023-06-27T10:19:28.208Z,2023-07-29 11:12:01.208893,LINXEA AVENIR - 7E 268863420,UC,"19,619.08"
11,4696209b-a49c-4c93-b8aa-ddf31ee25325,2023-07-28T21:30:21.514Z,2023-07-29 11:12:01.208894,PEG UES Allianz,UC,"7,853.73"
12,3ab92fd5-6166-499a-b302-9c138a98ac0b,2023-07-28T22:43:28.471Z,2023-07-29 11:12:01.208896,Hsbc Evol Pat Vie 2,UC,"19,768.02"
13,b9f5d759-4398-46e3-a816-107da20e1de3,2023-07-28T22:43:28.471Z,2023-07-29 11:12:01.208897,Pret Personnel,UC,"17,081.84"
14,3a1a101c-0464-4b31-8e4f-5a6255d83a9a,2023-07-28T21:30:21.514Z,2023-07-29 11:12:01.208898,PER COL A HORIZONS,UC,"2,929.86"
15,bde44c6d-b0a4-40e9-85fb-51ed2d93c226,2023-06-27T12:58:14.484Z,2023-07-29 11:12:01.208900,LINXEA Spirit 2,UC,"2,187.24"
16,10fc1745-2e0b-46fe-8821-46b41ba436a6,2023-07-28T22:12:24.327Z,2023-07-29 11:12:01.208901,NUANCES 3D,UC,36.66
17,bf69cd6f-4199-4cf1-a509-fefa02886481,2023-07-28T22:15:27.026Z,2023-07-29 11:12:01.208902,Plan d'épargne retraite - Gestion libre,UC,"4,209.54"

In [9]:
dfAgregat = pd.merge(df, dfComptes, on='ID', how='left')

In [14]:
dfGrouped = dfAgregat.groupby('Agregat1').agg(Date_last_sync = ('Date_last_sync', 'first'), Date_extract = ('Date_extract', 'first'), Agregat1_ID = ('Agregat1_ID', 'first') ,Organisme =('Organisme', 'first'), Produit =('Produit', 'first'), Solde = ('Solde', 'sum'))

In [16]:
dfGrouped['Week_number'] = dfGrouped['Date_extract'].dt.isocalendar().week

In [17]:
dfGrouped

,Date_last_sync,Date_extract,Agregat1_ID,Organisme,Produit,Solde,Week_number
Agregat1,,,,,,,
Allianz,2023-05-28T11:59:32.669Z,2023-05-30 22:31:05.774571,1.1,Allianz,Assurance Vie,33426.019091,22
Allianz PEE / PERCO,2023-05-28T16:08:52.971Z,2023-05-30 22:31:05.774558,2.4,Amundi,PEE / PERCO,20524.976557,22
Assurance Vie Avenir,2023-05-28T13:45:57.140Z,2023-05-30 22:31:05.774587,7.1.3,Linxea,Assurance Vie Avenir,19011.735471,22
Assurance Vie Spirit 2,2023-05-28T16:16:39.076Z,2023-05-30 22:31:05.774585,7.1.2,Linxea,Assurance Vie Spirit 2,2164.344155,22
Groupama PEE / PERCO,2023-05-28T15:20:39.037Z,2023-05-30 22:31:05.774574,5.4,Groupama,PEE / PERCO,6464.014000,22
HSBC,2023-05-28T13:18:26.815Z,2023-05-30 22:31:05.774593,6.1,HSBC,Assurance Vie,19407.494889,22
PEA,2023-05-28T10:20:38.764Z,2023-05-30 22:31:05.774567,3.2,BourseDirect,PEA,155519.718000,22
PEA-PMA,2023-05-28T11:10:26.918Z,2023-05-30 22:31:05.774581,4.3,Boursorama,PEA-PMA,4239.826800,22
Yomoni,2023-05-28T11:21:27.283Z,2023-05-30 22:31:05.774583,8.1,Yomoni,Assurance Vie,9375.492241,22

## Rajout dans l'historique numéro semaine et ID aggregat1

In [16]:
dfHisto = pd.read_excel('Data/Solde_Patrimoine.xlsx')

dfHisto['Date_last_sync'] = pd.to_datetime(dfHisto['Date_last_sync']).dt.tz_localize(None)
dfHisto['Date_extract'] = pd.to_datetime(dfHisto['Date_extract']).dt.tz_localize(None)

In [18]:
dfHisto.dtypes

Date_last_sync    datetime64[ns]
Date_extract      datetime64[ns]
Agregat1_ID               object
Organisme                 object
Produit                   object
Solde                    float64
Week_number                int64
dtype: object

In [19]:
dfHisto.to_csv('Data/Solde_Patrimoine.csv', sep=',', encoding='utf-8', index=False)

# Calcul du rendement annuel YDT

# Création du dataframe pour calcul de la rentabilité

In [120]:
dfParam = pd.read_excel('Param/Description_Comptes.xlsx')

In [121]:
dfParam[['Agregat1_ID']].drop_duplicates(keep = 'first')[['Agregat1_ID']]

   Agregat1_ID
0          1.1
1          2.4
4          3.2
5          4.3
6          5.4
8          6.1
9        7.1.2
10       7.1.3
11         8.1

## Production fichier solde YDT

In [122]:
dfSolde = pd.read_csv('Data/Solde_Patrimoine.csv')

dfSolde['Date_last_sync'] = pd.to_datetime(dfSolde['Date_last_sync']).dt.tz_localize(None)
dfSolde['Date_extract'] = pd.to_datetime(dfSolde['Date_extract']).dt.tz_localize(None)

In [123]:
dfSolde

,Date_last_sync,Date_extract,Agregat1_ID,Organisme,Produit,Solde,Week_number
0,2023-04-21 10:34:43.677,2023-04-21 14:01:55.368000,1.1,Allianz,Assurance Vie,"33,391.48",16
1,2023-04-21 11:57:24.409,2023-04-21 14:01:55.368000,2.4,Amundi,PEE / PERCO,"20,933.06",16
2,2023-04-21 00:32:38.274,2023-04-21 14:01:55.368000,7.1.3,Linxea,Assurance Vie Avenir,"19,101.57",16
3,2023-04-21 07:36:05.571,2023-04-21 14:01:55.368000,7.1.2,Linxea,Assurance Vie Spirit 2,"2,158.68",16
4,2023-04-18 03:45:03.035,2023-04-21 14:01:55.368000,5.4,Groupama,PEE / PERCO,"3,780.70",16
...,...,...,...,...,...,...,...
526,2023-07-28 22:15:27.026,2023-07-29 11:18:31.597843,5.4,Groupama,PEE / PERCO,"8,225.44",30
527,2023-07-28 22:43:28.471,2023-07-29 11:18:31.597847,6.1,HSBC,Assurance Vie,"19,768.02",30
528,2023-07-28 22:14:13.821,2023-07-29 11:18:31.597843,3.2,BourseDirect,PEA,"164,156.84",30
529,2023-07-28 21:23:36.914,2023-07-29 11:18:31.597841,4.3,Boursorama,PEA-PMA,"4,244.95",30
530,2023-07-28 20:19:35.152,2023-07-29 11:18:31.597839,8.1,Yomoni,Assurance Vie,"9,952.31",30

In [124]:
# get all differences with date as values

TimeYDT = datetime.datetime(1900, 1, 1)

for i in dfSolde['Date_extract']:
        if (i - datetime.datetime.now()) > (TimeYDT - datetime.datetime.now()):
            TimeYDT = i

In [125]:

dfYDTSolde = dfSolde[pd.to_datetime(dfSolde['Date_extract']).dt.date == TimeYDT.date()].drop_duplicates(subset='Agregat1_ID', keep="first")

In [126]:
dfYDTSolde["Type"] = "Solde"

In [127]:
dfYDTSolde.rename(columns = {'Date_extract':'Date'}, inplace = True)

In [128]:
dfYDTSolde = dfYDTSolde.drop(columns=['Date_last_sync'])

## Production fichier solde ouverture

In [129]:
TimeOuverture = datetime.date(2023, 1, 1)

In [130]:
dfOuverture = pd.read_excel('Data/Ouverture_Patrimoine.xlsx')

In [131]:

dfYDTOuverture = dfOuverture[pd.to_datetime(dfOuverture['Date']).dt.date == TimeOuverture].drop_duplicates(subset='Agregat1_ID', keep="first")

In [132]:
dfYDTOuverture['Solde'] = dfYDTOuverture['Solde'] * -1

In [133]:
dfYDTOuverture['Type'] = "Ouverture"

## Production fichier mouvement

In [134]:
dfMouvement = pd.read_excel('Data/Mouvement_Patrimoine.xlsx')

In [135]:

dfMouvementYDT = dfMouvement[(pd.to_datetime(dfMouvement['Date']).dt.date >= TimeOuverture) & (pd.to_datetime(dfMouvement['Date']).dt.date <= TimeYDT.date())]

In [136]:

dfMouvementYDT["Solde"] = dfMouvementYDT["Solde"] * -1

/var/folders/bh/x1bj97n118zg1y82068ps8400000gn/T/ipykernel_79569/1980982277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfMouvementYDT["Solde"] = dfMouvementYDT["Solde"] * -1

In [137]:
dfMouvementYDT["Type"] = "Mouvement"

/var/folders/bh/x1bj97n118zg1y82068ps8400000gn/T/ipykernel_79569/3764826215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfMouvementYDT["Type"] = "Mouvement"

In [138]:
# Passer le type Agregat1_ID en objet ou integer

dfMouvementYDT["Agregat1_ID"] = dfMouvementYDT["Agregat1_ID"].astype(str)

/var/folders/bh/x1bj97n118zg1y82068ps8400000gn/T/ipykernel_79569/186459287.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfMouvementYDT["Agregat1_ID"] = dfMouvementYDT["Agregat1_ID"].astype(str)

## Concat des 3 dataframes

In [139]:
dfXirrYdt = pd.concat([dfYDTOuverture, dfMouvementYDT, dfYDTSolde])

In [140]:
dfXirrYdt

,Date,Agregat1_ID,Organisme,Produit,Solde,Week_number,Type
23,2023-01-01 00:00:00.000000,1.1,Allianz,Assurance Vie,"-31,754.00",1,Ouverture
24,2023-01-01 00:00:00.000000,2.4,Amundi,PEE / PERCO,"-19,403.00",1,Ouverture
25,2023-01-01 00:00:00.000000,7.1.3,Linxea,Assurance Vie Avenir,"-18,390.00",1,Ouverture
26,2023-01-01 00:00:00.000000,7.1.2,Linxea,Assurance Vie Spirit 2,"-2,136.00",1,Ouverture
27,2023-01-01 00:00:00.000000,5.4,Groupama,PEE / PERCO,"-3,605.00",1,Ouverture
28,2023-01-01 00:00:00.000000,6.1,HSBC,Assurance Vie,"-18,794.00",1,Ouverture
29,2023-01-01 00:00:00.000000,3.2,BourseDirect,PEA,"-132,780.00",1,Ouverture
30,2023-01-01 00:00:00.000000,4.3,Boursorama,PEA-PMA,"-4,102.00",1,Ouverture
31,2023-01-01 00:00:00.000000,8.1,Yomoni,Assurance Vie,"-5,228.00",1,Ouverture
221,2023-01-03 00:00:00.000000,8.1,Yomoni,Assurance Vie,-50.00,1,Mouvement
222,2023-01-03 00:00:00.000000,1.1,Allianz,Assurance Vie,-103.00,1,Mouvement
223,2023-01-24 00:00:00.000000,3.2,BourseDirect,PEA,"-5,000.00",4,Mouvement
224,2023-02-02 00:00:00.000000,3.2,BourseDirect,PEA,"-5,000.00",5,Mouvement
225,2023-02-03 00:00:00.000000,8.1,Yomoni,Assurance Vie,-50.00,5,Mouvement
226,2023-02-03 00:00:00.000000,1.1,Allianz,Assurance Vie,-103.00,5,Mouvement
227,2023-02-16 00:00:00.000000,3.2,BourseDirect,PEA,"-5,000.00",7,Mouvement
228,2023-03-01 00:00:00.000000,3.2,BourseDirect,PEA,"-3,700.00",9,Mouvement
229,2023-03-03 00:00:00.000000,8.1,Yomoni,Assurance Vie,-50.00,9,Mouvement
230,2023-03-03 00:00:00.000000,1.1,Allianz,Assurance Vie,-103.00,9,Mouvement
231,2023-04-03 00:00:00.000000,8.1,Yomoni,Assurance Vie,-50.00,14,Mouvement
232,2023-04-03 00:00:00.000000,1.1,Allianz,Assurance Vie,-103.00,14,Mouvement
233,2023-04-03 00:00:00.000000,8.1,Yomoni,Assurance Vie,"-3,450.00",14,Mouvement
234,2023-05-03 00:00:00.000000,8.1,Yomoni,Assurance Vie,-50.00,18,Mouvement
235,2023-05-03 00:00:00.000000,1.1,Allianz,Assurance Vie,-103.00,18,Mouvement
236,2023-05-19 00:00:00.000000,5.4,Groupama,PEE / PERCO,"-2,636.00",20,Mouvement
237,2023-05-25 00:00:00.000000,2.4,Amundi,PEE / PERCO,"-2,500.00",21,Mouvement
238,2023-06-03 00:00:00.000000,8.1,Yomoni,Assurance Vie,-50.00,22,Mouvement
239,2023-06-03 00:00:00.000000,1.1,Allianz,Assurance Vie,-103.00,22,Mouvement
240,2023-06-23 00:00:00.000000,5.4,Groupama,PEE / PERCO,"-1,444.80",25,Mouvement
241,2023-07-03 00:00:00.000000,8.1,Yomoni,Assurance Vie,-50.00,27,Mouvement
242,2023-07-03 00:00:00.000000,1.1,Allianz,Assurance Vie,-103.00,27,Mouvement
513,2023-07-29 01:00:09.958708,1.1,Allianz,Assurance Vie,"34,173.00",30,Solde
514,2023-07-29 01:00:09.958713,2.4,Amundi,PEE / PERCO,"20,468.00",30,Solde
515,2023-07-29 01:00:09.958731,7.1.3,Linxea,Assurance Vie Avenir,"19,619.08",30,Solde
516,2023-07-29 01:00:09.958739,7.1.2,Linxea,Assurance Vie Spirit 2,"2,187.24",30,Solde
517,2023-07-29 01:00:09.958715,5.4,Groupama,PEE / PERCO,"8,225.44",30,Solde
518,2023-07-29 01:00:09.958735,6.1,HSBC,Assurance Vie,"19,768.02",30,Solde
519,2023-07-29 01:00:09.958717,3.2,BourseDirect,PEA,"164,156.84",30,Solde
520,2023-07-29 01:00:09.958710,4.3,Boursorama,PEA-PMA,"4,244.95",30,Solde
521,2023-07-29 01:00:09.958706,8.1,Yomoni,Assurance Vie,"9,952.31",30,Solde

# Création du dataframe pour calcul de la rentabilité

In [240]:
TRI_Patrimoine = {'Agregat1_ID':[], "Date" : [],"Organisme":[], "Produit":[] ,"TRI YTD" : [],"Rendement" :[], "Solde":[], "Total Mouvements":[]}

In [241]:

for i in dfXirrYdt[['Agregat1_ID']].drop_duplicates(keep = 'first')['Agregat1_ID']:
    TRI_Patrimoine['Agregat1_ID'].append(i)
    
    TRI_Patrimoine['Date'].append(TimeYDT)
    
    for j in dfXirrYdt[dfXirrYdt['Agregat1_ID'] == i][['Organisme']].drop_duplicates(keep = 'first')['Organisme']:
        TRI_Patrimoine['Organisme'].append(j)
 
    for k in dfXirrYdt[dfXirrYdt['Agregat1_ID'] == i][['Produit']].drop_duplicates(keep = 'first')['Produit']:
        TRI_Patrimoine['Produit'].append(k)
    
    TRI_Patrimoine['TRI YTD'].append(xirr(dfXirrYdt[dfXirrYdt['Agregat1_ID'] == i][['Date','Solde']]))
    
    TRI_Patrimoine['Rendement'].append(dfXirrYdt[dfXirrYdt['Agregat1_ID'] == i]['Solde'].sum())
    
    TRI_Patrimoine['Solde'].append(dfXirrYdt[(dfXirrYdt['Agregat1_ID'] == i) & (dfXirrYdt['Type'] == "Solde")]["Solde"].sum())
    
    TRI_Patrimoine['Total Mouvements'].append(dfXirrYdt[(dfXirrYdt['Agregat1_ID'] == i) & (dfXirrYdt['Type'] == "Mouvement")]["Solde"].sum() * -1)

In [244]:
TRI_Patrimoine['Agregat1_ID'].append("0.0")
    
TRI_Patrimoine['Date'].append(TimeYDT)

TRI_Patrimoine['Organisme'].append("Total")

TRI_Patrimoine['Produit'].append(" - ")

TRI_Patrimoine['TRI YTD'].append(xirr(dfXirrYdt[['Date','Solde']]))

TRI_Patrimoine['Rendement'].append(dfXirrYdt['Solde'].sum())

TRI_Patrimoine['Solde'].append(dfXirrYdt[(dfXirrYdt['Type'] == "Solde")]["Solde"].sum())

TRI_Patrimoine['Total Mouvements'].append(dfXirrYdt[(dfXirrYdt['Type'] == "Mouvement")]["Solde"].sum() * -1)

In [245]:
dfResultatXirrYDT = pd.DataFrame(TRI_Patrimoine)

In [246]:
dfResultatXirrYDT

,Agregat1_ID,Date,Organisme,Produit,TRI YTD,Rendement,Solde,Total Mouvements
0,1.1,2023-06-02 15:04:25.299386,Allianz,Assurance Vie,0.09,"1,189.44","33,458.44",515.00
1,2.4,2023-06-02 15:04:25.299386,Amundi,PEE / PERCO,0.06,514.14,"22,417.14","2,500.00"
2,7.1.3,2023-06-02 15:04:25.299386,Linxea,Assurance Vie Avenir,0.07,560.76,"18,950.76",-0.00
3,7.1.2,2023-06-02 15:04:25.299386,Linxea,Assurance Vie Spirit 2,0.03,29.36,"2,165.36",-0.00
4,5.4,2023-06-02 15:04:25.299386,Groupama,PEE / PERCO,0.19,295.46,"6,536.46","2,636.00"
5,6.1,2023-06-02 15:04:25.299386,HSBC,Assurance Vie,0.09,676.79,"19,470.79",-0.00
6,3.2,2023-06-02 15:04:25.299386,BourseDirect,PEA,0.06,"3,471.77","154,951.77","18,700.00"
7,4.3,2023-06-02 15:04:25.299386,Boursorama,PEA-PMA,0.11,187.70,"4,289.70",-0.00
8,8.1,2023-06-02 15:04:25.299386,Yomoni,Assurance Vie,0.18,469.20,"9,397.20","3,700.00"
9,0.0,2023-06-02 15:04:25.299386,Total,-,0.07,"7,394.64","271,637.64","28,051.00"

In [247]:
dfResultatXirrYDT.to_excel('Data/TRI_Ydt.xlsx', sheet_name='TRI YDT', float_format = "%0.3f", index=False)

# Construction detailled export

In [74]:
# Lecture du fichier paramétrage compte

dfComptes = pd.read_excel('Param/Description_Comptes.xlsx')

## Construction partie UC

In [75]:
# Ouvrir le fichier détaillé en mode lecture
with open("Data/BalanceWealthDetailled.json", "r") as f:
    # Charger le contenu du fichier en tant qu'objet JSON
    json_data_detailled = json.load(f)

In [76]:

BalancePatrimoine_detailled = {'ID':[], "Date_last_sync" :[], "Date_extract" : [], "Actif" : [], "ISIN" : [], "Type" : [],"Montant Solde" : [], "Quantité" : [], "Prix unitaire" : []}

In [77]:
for l in range(len(json_data_detailled['result']['accounts'])):

    for i in range(len(json_data_detailled['result']['accounts'][l]["securities"])):
        
        BalancePatrimoine_detailled["ID"].append(json_data_detailled['result']['accounts'][l]['id'])
        
        BalancePatrimoine_detailled["Date_last_sync"].append(json_data_detailled['result']['accounts'][l]['last_sync'])

        BalancePatrimoine_detailled["Date_extract"].append(datetime.datetime.now())
        
        BalancePatrimoine_detailled["Actif"].append(json_data_detailled['result']['accounts'][l]["securities"][i]['security']["name"])
        
        BalancePatrimoine_detailled["ISIN"].append(json_data_detailled['result']['accounts'][l]["securities"][i]['security']["isin"])
        
        BalancePatrimoine_detailled["Type"].append("UC")
        
        BalancePatrimoine_detailled["Prix unitaire"].append(json_data_detailled['result']['accounts'][l]["securities"][i]['security']["current_price"])
        
        BalancePatrimoine_detailled["Quantité"].append(json_data_detailled['result']['accounts'][l]["securities"][i]['quantity'])
        
        BalancePatrimoine_detailled["Montant Solde"].append(json_data_detailled['result']['accounts'][l]["securities"][i]['current_value'])

In [78]:
df_brut = pd.DataFrame(BalancePatrimoine_detailled)

In [79]:
# convertir les colonnes "Dates" en date en utilisant la methode to_datetime()
df_brut['Date_last_sync'] = pd.to_datetime(df_brut['Date_last_sync']).dt.tz_localize(None)
df_brut['Date_extract'] = pd.to_datetime(df_brut['Date_extract']).dt.tz_localize(None)

In [80]:
# fusionner les deux DataFrame sur la colonne "ID"
dfAgregat = pd.merge(df_brut, dfComptes, on='ID', how='left')

In [81]:
#Aggrégation
dfGroupedUC = dfAgregat.groupby(['Agregat1_ID' , 'Actif']).agg(Date_last_sync = ('Date_last_sync', 'first'), Date_extract = ('Date_extract', 'first'), Agregat1_ID = ('Agregat1_ID', 'first'), Organisme =('Organisme', 'first'), Produit =('Produit', 'first'), ISIN = ('ISIN', 'first'), Actif = ('Actif', 'first'), Type =  ('Type', 'first'), Prix_unitaire = ('Prix unitaire', 'first'), Quantité = ('Quantité', 'first'), Montant_Solde = ('Montant Solde', 'sum'))

In [82]:
#Rajout numéro de semaine
dfGroupedUC['Week_number'] = dfGroupedUC['Date_extract'].dt.isocalendar().week

## Construction partie fonds euros

In [83]:

# Ouvrir le fichier détaillé en mode lecture
with open("Data/BalanceWealthFondsEuros.json", "r") as f:
    # Charger le contenu du fichier en tant qu'objet JSON
    json_data_FondsEuros = json.load(f)

In [84]:

BalancePatrimoine_FondsEuros = {'ID':[], "Date_last_sync" :[], "Date_extract" : [], "Actif" : [], "ISIN" : [], "Type" : [],"Montant Solde" : [], "Quantité" : [], "Prix unitaire" : []}

In [85]:
for l in range(len(json_data_FondsEuros['result'])):
    
    BalancePatrimoine_FondsEuros["ID"].append(json_data_FondsEuros['result'][l]['bank_account']['id'])
    
    BalancePatrimoine_FondsEuros["Date_last_sync"].append(json_data_FondsEuros['result'][l]['bank_account']['last_sync'])
    
    BalancePatrimoine_FondsEuros["Date_extract"].append(datetime.datetime.now())
    
    BalancePatrimoine_FondsEuros["Actif"].append(json_data_FondsEuros['result'][l]['bank_account']['name'])
    
    BalancePatrimoine_FondsEuros["ISIN"].append("")
    
    BalancePatrimoine_FondsEuros["Type"].append("Fonds Euros")
    
    BalancePatrimoine_FondsEuros["Montant Solde"].append(json_data_FondsEuros['result'][l]['current_value'])

    BalancePatrimoine_FondsEuros["Quantité"].append("")
        
    BalancePatrimoine_FondsEuros["Prix unitaire"].append("")

In [86]:
df_brut = pd.DataFrame(BalancePatrimoine_FondsEuros)

In [88]:
# convertir les colonnes "Dates" en date en utilisant la methode to_datetime()
df_brut['Date_last_sync'] = pd.to_datetime(df_brut['Date_last_sync']).dt.tz_localize(None)
df_brut['Date_extract'] = pd.to_datetime(df_brut['Date_extract']).dt.tz_localize(None)

In [89]:
# fusionner les deux DataFrame sur la colonne "ID"
dfAgregat = pd.merge(df_brut, dfComptes, on='ID', how='left')

In [92]:
dfAgregat = dfAgregat.dropna(subset=['Agregat1_ID'])

In [93]:
#Aggrégation
dfGroupedFondsEuros = dfAgregat.groupby(['Agregat1_ID' , 'Actif']).agg(Date_last_sync = ('Date_last_sync', 'first'), Date_extract = ('Date_extract', 'first'), Agregat1_ID = ('Agregat1_ID', 'first'), Organisme =('Organisme', 'first'), Produit =('Produit', 'first'), ISIN = ('ISIN', 'first'), Actif = ('Actif', 'first'), Type =  ('Type', 'first'), Prix_unitaire = ('Prix unitaire', 'first'), Quantité = ('Quantité', 'first'), Montant_Solde = ('Montant Solde', 'sum'))

In [94]:
#Rajout numéro de semaine
dfGroupedFondsEuros['Week_number'] = dfGroupedFondsEuros['Date_extract'].dt.isocalendar().week

In [95]:
dfGroupedFondsEuros

,,Date_last_sync,Date_extract,Agregat1_ID,Organisme,Produit,ISIN,Actif,Type,Prix_unitaire,Quantité,Montant_Solde,Week_number
Agregat1_ID,Actif,,,,,,,,,,,,
1.1,Allianz Multi Epargne Vie,2023-07-28 22:42:15.691,2023-07-30 10:55:35.564411,1.1,Allianz,Assurance Vie,,Allianz Multi Epargne Vie,Fonds Euros,,,19555.22,30
6.1,Hsbc Evol Pat Vie 2,2023-07-28 22:43:28.471,2023-07-30 10:55:35.564432,6.1,HSBC,Assurance Vie,,Hsbc Evol Pat Vie 2,Fonds Euros,,,12137.91,30
7.1.2,LINXEA Spirit 2,2023-06-27 12:58:14.484,2023-07-30 10:55:35.564428,7.1.2,Linxea,Assurance Vie Spirit 2,,LINXEA Spirit 2,Fonds Euros,,,85.15,30
7.1.3,LINXEA AVENIR - 7E 268863420,2023-06-27 10:19:28.208,2023-07-30 10:55:35.564423,7.1.3,Linxea,Assurance Vie Avenir,,LINXEA AVENIR - 7E 268863420,Fonds Euros,,,4849.96,30

In [96]:
dfGrouped = pd.concat([dfGroupedUC, dfGroupedFondsEuros])

In [98]:

dfGrouped.to_excel('Data/SoldeDetailled_Patrimoine.xlsx', index=False)